<div class="section-banners">
  <div id="granito-banners"></div>
</div>

{% schema %}
{
  "name": "Banners",
  "settings": [],
  "presets": [
    {
      "name": "Banners",
      "category": "GranitoSkate"
    }
  ]
}
{% endschema %}
