{% layout 'theme' %}

<div class="gr-search-results-page">
  <div class="page-width">
    {% section 'gr-advanced-search' %}
  </div>
</div>

<style>
  .gr-search-results-page {
    margin: 40px 0;
  }
</style>
